    {{#each cities}}
      {{!-- <div class="row">
      	<h5 style="margin: auto; margin-top:20px"> City Name:  {{this.dataValues.name}}</h5>
      </div> --}}
      {{!-- <div class="row">
        <h5 style="margin: auto; margin-top:20px">Safety Scores </h5>
      </div> --}}
      <div class="form-box1 ml-1">
        <h5 style="text-align: center"> City Name:  {{this.dataValues.name}}</h5>
        <h5 style="text-align: center; margin-top:10px">Safety Scores </h5>
        <div class="row ml-1 mt-3" >
          <div class="col-md-5 wl-li" >
            <ul class="no-bullets ">
              <li class="selected">
                Overall: {{this.dataValues.scOverall}}
              </li>
              <li>
                LGBTQ : {{this.dataValues.scLgbtq}}
              </li>
              <li>
                Medical: {{this.dataValues.scMedical}}
              </li>
              <li>
                Physical Harm: {{this.dataValues.scPhysicalHarm}}
              </li>
            </ul>
          </div>
          <div class="col-md-5 wl-li">
            <ul class="no-bullets">
              <li>
                Political Freedom: {{this.dataValues.scPoliticalFreedom}}
              </li>
              <li>
                Theft: {{this.dataValues.scTheft}}
              </li>
              <li>
                Women: {{this.dataValues.scWomen}}
            </ul>
          </div>
        </div>
      </div>
  {{/each}}